{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="texto-cor-especial">Calculadora IRPF</h1>
    {% if form %}
        <form enctype="multipart/form-data" method="post" novalidate>
            {% csrf_token %}
            {% include 'partials/messages.html' %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                {% for error in field.errors %}
                    <section class="alert alert-danger" role="alert">
                        {{ error }}
                    </section>
                {% endfor %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{field|add_class:'form-control'}}
                </div>
            {% endfor %}
            <button class="btn botao-cor-especial mb-3" type="submit">Enviar</button>
        </form>
    {% endif %}
    {% if resultado %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Rendimentos Tributáveis</th>
                    <th scope="col">Rendimentos não Tributáveis</th>
                    <th scope="col">Contribuição à seguridade social</th>
                    <th scope="col">IRPF</th>
                    <th scope="col">Salário líquido</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{resultado.rendimento_tributavel}}</td>
                    <td>{{resultado.rendimento_nao_tributavel}}</td>                    
                    <td>{{resultado.css_a_pagar}}</td>
                    <td>{{resultado.irpf_a_pagar}}</td>
                    <td>{{resultado.salario_liquido}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn botao-cor-especial btn-nohover" href="{% url 'index' %}" role="button">Nova Pesquisa</a>
    {% endif %}
{% endblock %}
</body>
</html>
